<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">Fuzzy Labs</h6>
        <ul class="link-list">
          <li><a href="#services">What we do</a></li>
          <li><a href="#approach">Our Approach</a></li>
          <li><a href="#contact">Let's talk</a></li>
          <li><a href="/join-us">Join Us</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="http://github.com/fuzzylabs" target="_blank" rel="noopener">Code</a></li>
          <li><a href="/privacy">Privacy</a></li>
        </ul>
        <p>&nbsp;</p>
      </div>
      <div class="col-md-5">
        <h6 class="text-uppercase font-weight-bold">Get in touch</h6>
        <p><a href="mailto:talk@fuzzylabs.tech">talk@fuzzylabs.ai</a></p>
	<p>
	  <address>
	    <b>Fuzzy Labs</b><br/>
	    Tech Incubator, Manchester Technology Centre<br/>
	    Oxford Road, Manchester, England, M1 7ED
	  </address>
	</p>
  <p><i class="fas fa-phone"></i><a href="tel:+441615330337"> 0161 533 0337</a></p>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-3">
          <img src="/images/member-md.png" alt="We are a member of Manchester Digital" class="manchester-digital img-fluid">
      </div>
    </div>
  </div>

  <div id="subfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Copyright &copy; Fuzzy Labs Limited 2020</p>
        </div>
        <div class="col-md-6 text-right">
          <ul class="social-links">
            <li><a href="http://kaggle.com/fuzzylabs" class="fab fa-kaggle"></a></li>
            <li><a href="http://github.com/fuzzylabs" class="fab fa-github"></a></li>
            <li><a href="http://twitter.com/FuzzyLabsAI" class="fab fa-twitter"></a></li>
            <li><a href="http://linkedin.com/company/fuzzy-labs" class="fab fa-linkedin"></a></li>
            <li><a href="mailto:talk@fuzzylabs.ai" class="fas fa-envelope"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="{{ "/vendor/jquery/jquery-3.4.1.min.js" | absURL }}"></script>
<script src="{{ "/vendor/bootstrap/js/bootstrap.bundle.min.js" | absURL }}"></script>
<script src="{{ "/js/script.js" | absURL }}"></script>
<script>
window.addEventListener('load',function(){
  jQuery('form').submit(function(){
    gtag('event', 'submit', {
  'event_category' : 'form',
  'event_label' : window.location.pathname
});
});
  });
</script>
