<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">Fuzzy Labs</h6>
        <ul class="link-list">
          <li><a href="#">What we do</a></li>
          <li><a href="#">Our Approach</a></li>
          <li><a href="#">The Team</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6 class="text-uppercase font-weight-bold">Get in touch</h6>
        <address>
          123 Fake Street<br/>
          Manchester<br/>
          United Kingdom<br/>
          M1 1AA
        </address>
        <p><i class="fas fa-envelope"></i> <a href="mailto:talk@fuzzylabs.tech">talk@fuzzylabs.tech</a></p>
        <p><i class="fas fa-phone"></i> +44 0000000000</p>
      </div>
      <div class="col-md-5">
      </div>
    </div>
  </div>

  <div id="subfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Copyright &copy; Fuzzy Labs Limited 2019</p>
        </div>
        <div class="col-md-6 text-right">
          <ul class="social-links">
            <li><a href="http://twitter.com/FuzzyLabsUK" class="fab fa-twitter"></a></li>
            <li><a href="http://github.com/fuzzylabs" class="fab fa-github"></a></li>
            <li><a href="http://linkedin.com/company/fuzzy-labs" class="fab fa-linkedin"></a></li>
            <li><a href="mailto:talk@fuzzylabs.tech" class="fas fa-envelope"></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>

<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
