<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">Fuzzy Labs</h6>
        <ul class="link-list">
          <li><a href="#services">What we do</a></li>
          <li><a href="#approach">Our Approach</a></li>
          <li><a href="#contact">Let's talk</a></li>
          <li><a href="http://github.com/fuzzylabs">Code</a></li>
          <li><a href="http://medium.com/fuzzylabsai">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-5">
        <h6 class="text-uppercase font-weight-bold">Get in touch</h6>
        <p><i class="fas fa-envelope"></i> <a href="mailto:talk@fuzzylabs.tech">talk@fuzzylabs.ai</a></p>
	<p>
	  <address>
	    <b>Fuzzy Labs</b><br/>
	    Tech Incubator<br/>
	    Manchester Technology Centre<br/>
	    Oxford Road<br/>
	    Manchester<br/>
	    England<br/>
	    M1 7ED
	  </address>
	</p>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>

  <div id="subfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Copyright &copy; Fuzzy Labs Limited 2019</p>
        </div>
        <div class="col-md-6 text-right">
          <ul class="social-links">
            <li><a href="http://kaggle.com/fuzzylabs" class="fab fa-kaggle"></a></li>
            <li><a href="http://github.com/fuzzylabs" class="fab fa-github"></a></li>
            <li><a href="http://twitter.com/FuzzyLabsAI" class="fab fa-twitter"></a></li>
            <li><a href="http://linkedin.com/company/fuzzy-labs" class="fab fa-linkedin"></a></li>
            <li><a href="mailto:talk@fuzzylabs.ai" class="fas fa-envelope"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
