<head>
  <meta charset="utf-8">
  <meta name="Description" content="Fuzzy Labs, Artificial Intelligence solutions delivered on Google Cloud Platform. Operating primarily in Manchester UK.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fuzzy Labs</title>
  <link href="{{ "/vendor/bootstrap/css/bootstrap.min.css" | absURL }}" rel="stylesheet">
  <link href="{{ "/css/style.css" | absURL }}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap">
  <link rel="icon" type="image/x-icon" href="favicon.ico"/>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143349161-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-143349161-1');
  </script>
</head>
