<head>
  <meta charset="utf-8">
  <meta name="Description" content="{{ .Params.metadescription }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  <link href="{{ "/vendor/bootstrap/css/bootstrap.min.css" | absURL }}" rel="stylesheet">
  <link href="{{ "/css/style.css" | absURL }}" rel="stylesheet">
  <link href="{{ "/css/medium.css" | absURL }}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap">
  <link rel="icon" type="image/x-icon" href="/favicon.ico"/>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143349161-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-143349161-1');
  </script>

  <!-- Personyze -->
	<script>
	window._S_T ||
	(function(d, css){
		var c = d.createElement('style'),
			s = d.createElement('script'),
			u = s.onload===undefined && s.onreadystatechange===undefined,
			r = function() {c.parentNode && h.removeChild(c)},
			i = 0,
			l = function(t) {t.async=t.blocking=true; t.reg_ondropcss(r); t.setup(5129, "fuzzylabs.ai")},
			f = function() {window._S_T ? l(_S_T) : i++<120 && setTimeout(f, 600)},
			H = d.getElementsByTagName('head'),
			h = H && H[0] || d.documentElement;
		s.async = true;
		s.src = '//counter.personyze.com/stat-track-lib.js';
		s.onload = s.onreadystatechange = f;
		h.appendChild(c);
		h.appendChild(s);
		if (c.styleSheet) c.styleSheet.cssText = css;
		else c.appendChild(d.createTextNode(css));
		if (u) f();
		setTimeout(r, 2000);
	})(document, 'body {visibility:hidden}');
	</script>
</head>
