<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsible" aria-controls="navbarCollapsible" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
    </button>

    <a class="col-xs-4 navbar-brand" style="margin-left:-100px" href="{{ "/" | absURL }}#home"><img class="logo-rectangle" src="{{ "/images/logo.png" | absURL }}" alt="Fuzzy Labs"/></a>

    <div class="collapse navbar-collapse" id="navbarCollapsible">
      <ul class="col-xs-4 navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
          <div class="dropdown-menu">
            <a class="dropdown-item nav-link" href="/ai-for-healthcare/" class="nav-link">AI For Healthcare</a>
            <a class="dropdown-item nav-link" href="/ai-for-financial-services/" class="nav-link">AI For Financial Services</a>
            <a class="dropdown-item nav-link" href="/ai-for-marketing/" class="nav-link">AI For Marketing</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Case Studies</a>
          <div class="dropdown-menu">
            <a class="dropdown-item nav-link" href="/case-studies/personalised-healthcare-dna">Personalised Healthcare using Genetic Data</a>
            <a class="dropdown-item nav-link" href="/case-studies/filtering-explicit-content">Filtering Explicit Content</a>
            <a class="dropdown-item nav-link" href="/case-studies/document-automation">Automating Council Tax Claims</a>
            <a class="dropdown-item nav-link" href="/case-studies/data-warehousing">Speed up Reporting with Data Warehousing</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
          <div class="dropdown-menu">
            <a class="dropdown-item nav-link {{ if eq "About" .Title }}selected{{ end }}" href="/about">About</a>
            <a class="dropdown-item nav-link" href="{{ "/join-us" | absURL }}">Join Us</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link {{ if eq "Blog" .Title }}selected{{ end }}" href="/blog">Blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="http://github.com/fuzzylabs" target="_blank" rel="noopener">Code <i class="fab fa-github  ml-1"></i> </a>
        </li>
      </ul>

      <ul class="col-xs-4 navbar-nav ml-auto" style="margin-right:-100px">
        <li class="nav-item">
          <a href="/ai-blueprint" id="navbar-cta" class="btn btn-info" role="button">AI Blueprint</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-in-page" href="/#contact">Contact Sales</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
