<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="{{ "/" | absURL }}"><img class="logo-rectangle" src="{{ "images/logo.png" | absURL }}" alt="Fuzzy Labs"/></a>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="nav-menu-icon">
        <i class="fas fa-bars fa-1x"></i>
      </span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-links">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link selected" href="{{ "/" | absURL }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/" | absURL }}/services">What we do</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/" | absURL }}#approach">Our Approach</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/" | absURL }}#contact">Let's Talk</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://medium.com/fuzzylabsai" target="new">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://github.com/fuzzylabs" target="new">Code</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
