<nav class="navbar fixed-top navbar-expand-md">
  <div class="container">
    <a class="col-xs-4 navbar-brand" href="{{ "/" | absURL }}#home"><img class="logo-rectangle" src="{{ "/images/logo.png" | absURL }}" alt="Fuzzy Labs"/></a>
    
    <ul class="col-xs-4 navbar-nav ml-auto">
      <li class="nav-item">
        <span class="nav-link">Services <i class="fas fa-caret-down"></i></span>
        <ul class="nav-submenu">
          <li class="nav-item"><a href="/ai-for-healthcare/" class="nav-link">AI For Healthcare</a></li>
          <li class="nav-item"><a href="/ai-for-financial-services/" class="nav-link">AI For Financial Services</a></li>
          <li class="nav-item"><a href="/ai-for-marketing/" class="nav-link">AI For Marketing</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link {{ if or ( eq "case_studies" .Layout) ( eq "case_study_detail" .Layout) }}selected{{ end }}" href="/case-studies">Case Studies <i class="fas fa-caret-down"></i></a>
        <ul class="nav-submenu">
          <li class="nav-item"><a class="nav-link" href="/case-studies/personalised-healthcare-dna">Personalised Healthcare using Genetic Data</a></li>
          <li class="nav-item"><a class="nav-link" href="/case-studies/filtering-explicit-content">Filtering Explicit Content</a></li>
          <li class="nav-item"><a class="nav-link" href="/case-studies/document-automation">Automating Council Tax Claims</a></li>
          <li class="nav-item"><a class="nav-link" href="/case-studies/data-warehousing">Speed up Reporting with Data Warehousing</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <span class="nav-link">About <i class="fas fa-caret-down"></i></span>
        <ul class="nav-submenu">
          <li class="nav-item"><a class="nav-link {{ if eq "About" .Title }}selected{{ end }}" href="/about">About</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ "/join-us" | absURL }}">Join Us</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link {{ if eq "Blog" .Title }}selected{{ end }}" href="/blog">Blog</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="http://github.com/fuzzylabs" target="_blank" rel="noopener">Code <i class="fab fa-github  ml-1"></i> </a>
      </li>
    </ul>

    <ul class="col-xs-4 navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/ai-blueprint" id="navbar-cta" class="btn btn-info" role="button">AI Blueprint</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-in-page" href="/sales">Contact Sales</a>
      </li>
    </ul>
  </div>
</nav>
