<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body id="home">
{{ partial "navigation.html" . }}

<!-- begin main content -->
<section class="section section-why">
  <div class="container">
    <div class="row" style="height: 600px">
      <div class="col-md-12 align-items-center ml-auto d-flex">
        <div class="col-md-5">
          <h1>Open Source MLOps</h1>
          <p>Harness the power of open source MLOps to productionise your AI.</p>
          <p style="padding-bottom: 50px">Our solutions are endlessly adaptable, tailored to your exact needs.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="approach" class="section section-what">
  <div class="container">
    <header class="section-header" style="padding-top: 0px; padding-bottom: 25px">
      <h1>Our approach</h1>
    </header>
    <div class="row">

      <div class="col-md-4 col-lg-4 principles-block-container">
        <div class="principles-block">
          <div class="img">
            <img src="images/principles-simple.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="fas fa-circle"></i></div>
          </div>
          <h2>Freedom</h2>
          <p>
            Our open source approach to MLOps gives you the freedom to change, adapt and improve over time. You're not locked in - no restrictive licensing agreements, or off-the-peg proprietary products. You own the solution. So there's no limits to where your AI can take you.
          </p>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 principles-block-container">
        <div class="principles-block">
          <div class="img">
            <img src="images/principles-automated.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="fas fa-cog"></i></div>
          </div>
          <h2>Efficiency</h2>
          <p>
            Deploying your AI models efficiently is about more than speed. It takes collaboration. Our solutions are tailored for you, enabling your data science teams to work more efficiently. Less wasted time, fewer errors. With custom MLOps., you can productionise your models seamlessly.
          </p>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 principles-block-container">
        <div class="principles-block">
          <div class="img">
            <img src="images/principles-ethical.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="fas fa-shield-alt"></i></div>
          </div>
          <h2><a href="/forgood/">Support</a></h2>
          <p>
            Your expert guide to MLOps, we'll give you the tools you need and teach you how to use them. We integrate with your own team. Share what we know. Merge our skills with yours. We offer long-term support, helping you adapt and evolve. See us as your in-house MLops team.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>


<section class="section section-logos">
  <div class="container mt-5">

    <h1>Who we work with</h1>
    <div class="row logos justify-content-center">
      <div class="col-4 text-center my-auto">
        <div class="logo-container">
          <img src="images/logos/arm-logo.svg" alt="Arm logo" class="img-fluid" style="filter: invert(1);"/>
        </div>
      </div>
      <div class="col-4 text-center my-auto">
        <div class="logo-container">
          <img src="images/logos/bankifi-logo.png" alt="Bankify logo" class="img-fluid"/>
        </div>
      </div>
      <div class="col-4 text-center my-auto">
        <div class="logo-container">
          <img src="images/logos/cga-logo.png" alt="CGA logo" class="img-fluid"/>
        </div>
      </div>
      <div class="col-4 text-center my-auto">
        <div class="logo-container">
          <img src="images/logos/convatec-logo.png" alt="Convatec logo" class="img-fluid"/>
        </div>
      </div>
      <div class="col-4 text-center my-auto">
        <div class="logo-container">
          <img src="images/logos/regital-logo.svg" alt="Regital logo" class="img-fluid"
               style="filter: invert(1);"/>
        </div>
      </div>
      <div class="col-4 text-center my-auto">
        <div class="logo-container">
          <img src="images/logos/xpertrule-logo.svg" alt="XpertRule logo" class="img-fluid"/>
        </div>
      </div>
      <div class="col-4 text-center my-auto">
        <div class="logo-container">
          <img src="images/logos/wklt-logo.svg" alt="Wakelet logo" class="img-fluid"/>
        </div>
      </div>

      <div class="col-4 text-center my-auto">
        <div class="logo-container">
          <img src="images/logos/D55-logo.svg" alt="D55 logo" class="img-fluid" style="filter: invert(1);"/>
        </div>
      </div>
      <div class="col-4 text-center my-auto">
        <div class="logo-container">
          <img src="images/logos/startup-logo.svg" alt="The Startup Factory logo" class="img-fluid"/>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact" class="section">
  <div class="section__landing-footer-top text-center">
    <div class="container">
      <h2 class="section__landing-footer-top-heading">AI For You</h2>
      <div class="section__landing-footer-top-description">
        We work with forward-thinking business to deliver world-class AI-driven solutions.
      </div>
    </div>
  </div>
  <div class="section__landing-footer-middle text-center">
    <div class="container">
      <div class="section__landing-footer-middle-description">
        Have a question about how AI could work for you? <br>Give us a shout using the form below.
      </div>
    </div>
  </div>
  <div class="section__landing-footer-bottom">
    <div class="container">
      <h2 class="heading-withblock text-center" data-aos="fade-up" data-aos-duration="1000"><span><span class="copy">Get in touch</span></span></h2>
      {{ partial "contact-form.html" . }}
    </div>
  </div>
</section>

<!-- end main content -->

{{ partial "footer.html" }}
</body>
</html>
