{{ define "main" }}
{{ partial "driftbot.html" . }}
<section class="section section-page-header section-about-us">
    <div class="container">
        <div class="row" style="height: 600px">
            <div class="col-md-12 align-items-center ml-auto d-flex">
                <div class="col-md-6">
                    <h1>{{ .Params.articletitle }}</h1>
                    <p>Fuzzy Labs was co-Founded by Matt Squire and Tom Stockton in Manchester, UK, drawing on 35 years
                        of combined commercial experience in writing and deploying world-class, modern, scalable
                        software and data systems.</p>
                    <p>We have worked with organisations including Disney Streaming Services, MoneySupermarket,
                        Booking.com and McLaren.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padded">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 article-post">
                <div class="card card mb-5">

                    <div class="card-body">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <a href="https://www.linkedin.com/in/tom-stockton-37a5644/"><img class="about-image d-block mt-2"
                                                                                             src="/images/tom-square-thumb.jpg"></a>
                            <h3 class="mt-4">About Tom</h3>
                        </div>
                        <p>With a background in DevOps and SRE, Tom not only has a wealth of experience engineering
                            reliable production environments, but as the lead guitarist in his band, he's a literal
                            DevOps rockstar. He's worked with many prominent tech clients, most recently leading efforts
                            to deploy large-scale data processing infrastructure in Kubernetes for Disney Streaming
                            Services.</p>

                        <p>When he's not doing rockstar DevOps or building cool stuff in the cloud, Tom's a commited
                            mountain biker with an intimidating training regime.</p>

                        <p>Tom uses <a href="https://www.vim.org">Vim</a>.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 article-post">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column justify-content-center align-items-center">

                            <a href="https://www.linkedin.com/in/matt-squire-a19896125"><img class="about-image d-block mt-2"
                                                                                             src="/images/matt-square-thumb.jpg"></a>
                            <h3 class="mt-4">About Matt</h3>
                        </div>

                        <p>Matt has spent his career building distributed and reactive software using Scala, Akka and
                            Kafka in
                            many domains including advertising, price comparison, biometrics, and IoT applications. His
                            background is in natural computation, a field of computer science that studies how living
                            things
                            compute, to think about new ways to make machines smarter.</p>

                        <p>Before starting Fuzzy Labs Matt was technical team lead at Disney Streaming Services, where
                            he worked
                            on a machine learning project to predict customer happiness based on their experience of
                            using the
                            Disney+ platform. In his spare time he likes to dabble in building hardware, cooking
                            curries,
                            exploring mountains and learning Mandarin.</p>

                        <p>Matt uses <a href="https://www.gnu.org/s/emacs">Emacs</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
