{{ define "main" }}
<section class="section section-page-header section-about-us">
  <div class="container">
    <div class="row" style="height: 600px">
      <div class="col-md-12 align-items-center ml-auto d-flex">
        <div class="col-md-7">
          <h1>{{ .Params.articletitle }}</h1>
          <p>Based in Manchester, we are an experienced team of data science specialists, all passionate about the power of open source MLOps</p>

          <p>Our clients tell us that we're knowledgeable, helpful, and good to work with. We work hard to earn their trust</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padded">
  <div class="container">
    <!-- Tom -->    
    <div class="row border rounded" style="background: #fff">
      <div class="media mt-4 ml-4 mr-4">
        <div class="media-left">
          <img class="media-object about-image mr-5" style="width: 250px; height: 250px" src="/images/tom-square-thumb.jpg" alt="...">
        </div>
        <div class="media-body">
          <h3 class="media-heading"><b>Tom Stockton</b></h3>

          <p>With a background in DevOps and SRE, Tom not only has a wealth of experience engineering
            reliable production environments, but as the lead guitarist in his band, he's a literal
            DevOps rockstar. He's worked with many prominent tech clients, most recently leading efforts
            to deploy large-scale data processing infrastructure in Kubernetes for Disney Streaming
            Services.</p>

          <p>When he's not doing rockstar DevOps or building cool stuff in the cloud, Tom's a commited
            mountain biker with an intimidating training regime.</p>

          <p>Tom uses <a href="https://www.vim.org">Vim</a>.</p>

          <ul class="social-links p-0">
            <li><a href="http://github.com/tomstockton" class="fab fa-github"></a></li>
            <li><a href="https://www.linkedin.com/in/tom-stockton-37a5644" class="fab fa-linkedin"></a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Matt -->
    <div class="row border rounded mt-5" style="background: #fff">
      <div class="media mt-4 ml-4 mr-4">
        <div class="media-left">
          <img class="media-object about-image mr-5" style="width: 250px; height: 250px" src="/images/matt-square-thumb.jpg" alt="...">
        </div>
        <div class="media-body">
          <h3 class="media-heading"><b>Matt Squire</b></h3>

          <p>Matt has spent his career building distributed and reactive software using Scala, Akka and Kafka in many domains including advertising, price comparison, biometrics, and IoT applications.
            His background is in natural computation, a field of computer science that studies how living things compute.
          </p>

          <p>Before starting Fuzzy Labs Matt was technical team lead at Disney Streaming Services, where he worked
            on a machine learning project to predict customer happiness based on their experience of using the
            Disney+ platform. In his spare time he likes to dabble in building hardware, cooking curries,
            exploring mountains and learning Mandarin.</p>

          <p>Matt uses <a href="https://www.gnu.org/s/emacs">Emacs</a>.</p>

          <ul class="social-links p-0">
            <li><a href="http://github.com/archena" class="fab fa-github"></a></li>
            <li><a href="https://www.linkedin.com/in/matt-squire-a19896125" class="fab fa-linkedin"></a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Misha -->
    <div class="row border rounded mt-5" style="background: #fff">
      <div class="media mt-4 ml-4 mr-4">
        <div class="media-left">
          <img class="media-object about-image mr-5" style="width: 250px; height: 250px" src="/images/misha-square-thumb.jpg" alt="...">
        </div>
        <div class="media-body">
          <h3 class="media-heading"><b>Mikhail Iakovlev</b></h3>

          <p>Mikhail Iakovlev (Misha) studied computer science at the University of Manchester and went on to study a masters in bioinformatics and theoretical systems biology at Imperial College London, where he worked on the <a href="http://www.sbg.bio.ic.ac.uk/~missense3d">Missense3D project</a> for protein mutation effect prediction. He's also two-time finalist at <a href="https://www.hac100.com">Hack Manchester</a>. Misha is a full-stack engineer and data scientist with a deep-seated passion for technology.</p>

          <p>Misha uses <a href="https://code.visualstudio.com">Visual Studio Code</a>.</p>

          <ul class="social-links p-0">
            <li><a href="http://github.com/d-lowl" class="fab fa-github"></a></li>
            <li><a href="https://www.linkedin.com/in/mikhail-iakovlev" class="fab fa-linkedin"></a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- /container -->
  </div>
</section>
{{ end }}
