{{ define "main" }}

<section class="section section-page-header mb-5">
  <div class="container">
    <div class="row" style="height: 400px">
      <div class="col-md-12 align-items-center ml-auto d-flex">
        <div class="col-md-6">
          <h1>{{ .Params.articletitle }}</h1>
          <p class="lead">{{ .Params.description}}</p>
        </div>
        <div class="col-md-6">
          <div class="case-study-logo">
            <img src="{{ .Params.image}}" class="case-study-logo__image"/>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<div class="main-content">
  <div class="container">
    <div class="row">

      <!-- Post body -->
      <div class="col-md-9 flex-first flex-md-unordered">
        <div class="">



        <!-- Post Content -->
        <div class="case-study-content">
          {{ .Content}}
        </div>

        <!-- Post Tags -->
        <div class="after-post-tags">
          <ul class="tags">
            {{ range .Params.tags }}
            <li>
              <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
            </li>
            {{ end }}
          </ul>
        </div>
        <!-- End Categories -->

        <!-- Next and PrevPage inside current section -->
        <div class="row PageNavigation d-flex justify-content-between" style="padding-bottom: 30px">
          <div class="col-md-6">
            {{with .NextInSection}}
            <a class="d-block" href="{{.URL}}"> &laquo; {{.Params.articletitle}}</a>
            {{end}}
          </div>
          <div class="col-md-6">
            {{with .PrevInSection}}
            <a class="d-block text-lg-right" href="{{.URL}}">{{.Params.articletitle}} &raquo;</a>
            {{end}}
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- End Next and PrevPage -->
      </div>
      <!-- End Post -->
    </div>
  </div>
  <!-- End container -->
</div>
{{- partial "alertbar.html" . -}}
{{ end }}
