{{ define "main" }}

<section class="section section-blog">
  <div class="container">
    <div class="row" style="height: 100px">
      <div class="col-md-12 align-items-center ml-auto d-flex">
        <div>
          <h1 style="padding-top: 30px">{{ .Title }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section blog-content">
  <div class="container" style="margin-bottom: 80px">
      {{ range $index, $page := .Pages.ByDate.Reverse }}

      {{ if eq (mod $index 3) 0 }}
      <div class="row">
      {{ end }}


      <div class="col-sm blog-grid">
        <a href="{{ .RelPermalink }}">
          <div class="image" style="background: url({{ .Params.image }}); background-position: center; background-size: cover; background-repeat: no-repeat">
          </div>
          <h1>{{ .Title }}</h1>
          <p>{{ .Description }}</p>
        </a>
        <p class="text-bottom">
          <small>
            <time><i class="far fa-star"></i>  {{ dateFormat "Jan 2, 2006" .Date }}</time>
            <span><i class="fas fa-user"></i>  {{ .Params.author_name }}</span>
            <span><i class="far fa-clock"></i>{{ div .FuzzyWordCount 220 }} min read</span>
          </small>
        </p>
      </div>

      {{ if eq (mod $index 3) 2 }}
      </div>
      {{ end }}


      {{ end }}

  </div>
</section>

{{ end }}
