{{ define "main" }}

<section class="section section-blog">
  <div class="container">
    <div class="row" style="height: 100px">
      <div class="col-md-12 align-items-center ml-auto d-flex">
        <div>
          <h1 style="color: #48a7aa">{{ .Title }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section blog-content">
  <div class="container" style="margin-bottom: 80px">
      {{ range $index, $page := .Pages.ByPublishDate.Reverse }}

      {{ if eq (mod $index 3) 0 }}
      <div class="row">
      {{ end }}

      <div class="col-sm blog-grid" style="background: linear-gradient(rgba(16, 29, 57, 0.55), rgba(16, 29, 57, 0.45)), url('{{ .Params.image }}'); background-position: center; background-size: cover; background-repeat: no-repeat">
        <a href="{{ .RelPermalink }}">
          <h1>{{ .Title }}</h1>
          <p>{{ .Description }}</p>
          <p class="text-bottom">
            <small>
              <span>{{ div .FuzzyWordCount 250 }} min read</span><br/>
              <time><i class="far fa-clock"></i>  {{ dateFormat "January 2, 2006" .Date }}</time>
              <span><i class="fas fa-user"></i>  {{ .Params.author }}</span>
            </small>
          </p>
        </a>
      </div>

      {{ if eq (mod $index 3) 2 }}
      </div>
      {{ end }}


      {{ end }}

  </div>
</section>

{{ end }}
