{{ define "main" }}
<section class="section section-marketing-splash">
    <div class="container">
        <div class="row" style="height: 600px">
            <div class="col-md-12 align-items-center ml-auto d-flex">
                <div class="col-md-6">
                    <h1>{{ .Params.articletitle }}</h1>
                    <p>Today's consumers interact with businesses across a wide range of Internet-connected
                        devices. </p>
                    <p>While each of these interactions
                        generates data, it can be difficult to stitch that data together to form a detailed
                        understanding of the customer. </p>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padded">
    <div class="container">
        <div class="row">

            <h2>Marketing is changing fast - AI can help you keep up</h2>
            <p>According to a 2018 Forbes report, 43% of marketers are using AI to expand their audience and 77% see AI
                adoption
                growing this year.</p>

            <p>AI puts powerful tools into the hands of marketers, enabling you to discover customer segments, predict
                when
                customers are likely to buy,
                build sophisticated customer profiles and provide hyper personalised web experiences.</p>
            <p style="margin-top: 30px;">
                <a href="/downloads/ai-in-marketing.pdf" class="btn btn-secondary btn-lg">Learn
                    more about AI in marketing <i
                            class="fa fa-file-pdf ml-2"></i>
                </a>
            </p>
        </div>
    </div>
</section>
<section id="approach" class="section-padded">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <h2>Super-charge your campaigns with AI</h2>
                <p> The following techniques are all proven to help drive increased consumer interaction resulting in
                    more successful marketing campaigns. </p>
            </div>
        </div>
        <div class="row mt-4">

            <div class="col-md-6 col-lg-3 principles-block-container">
                <div class="principles-block">
                    <div class="img">
                        <img src="/images/marketing-hyper-personalisation.jpg" alt="" class="img-fluid">
                        <div class="icon"><i class="fas fa-users-cog"></i></div>
                    </div>
                    <h2>Hyper-Personalisation</h2>
                    <p>
                        Presenting customers with targeted product recommendations means they are more likely to buy.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 principles-block-container">
                <div class="principles-block">
                    <div class="img">
                        <img src="/images/marketing-sentiment-analysis.jpg" alt="" class="img-fluid">
                        <div class="icon"><i class="far fa-smile"></i></div>
                    </div>
                    <h2>Sentiment Analysis</h2>
                    <p>
                        Accurately gauge public opinion with intelligent analysis of social media activity.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 principles-block-container">
                <div class="principles-block">
                    <div class="img">
                        <img src="/images/marketing-customer-segmentation.jpg" alt="" class="img-fluid">
                        <div class="icon"><i class="fas fa-chart-pie"></i></div>
                    </div>
                    <h2>Customer Segmentation</h2>
                    <p>
                        Identify groups of customers that share common attributes such as their age, job or purchasing
                        habits.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 principles-block-container">
                <div class="principles-block">
                    <div class="img">
                        <img src="/images/marketing-repeat-buyer.jpg" alt="" class="img-fluid">
                        <div class="icon"><i class="fas fa-shopping-basket"></i></div>
                    </div>
                    <h2>Repeat-buyer Prediction</h2>
                    <p>
                        Convert one-time buyers into repeat customers by looking at what drives their
                        purchase decisions.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="section-padded">
    <div class="container">
        <div class="row">
            <h2>Find out how Fuzzy Labs can help</h2>
            <p>We can make sense of your customer data and help you power up your marketing. We'd love to start a conversation with you.</p>
            <p>
                <a href="/#contact" class="btn btn-secondary btn-lg mt-4">Get in touch today <i
                    class="fa fa-comments ml-2"></i>

            </a>
            </p>
        </div>
    </div>
</section>
{{ end }}
