{{ define "main" }}
<section class="section section-marketing-splash">
  <div class="container">
    <div class="row" style="height: 600px">
      <div class="col-md-12 align-items-center ml-auto d-flex">
        <div class="col-md-6">
          <h1>{{ .Params.articletitle }}</h1>
          <p>Today's consumers interact with businesses across a wide range of Internet-connected devices, and while each of these interactions 
            generates data, it can be difficult to stitch that data together to form a detailed understanding of the customer. </p>

          <p>According to a 2018 Forbes report, 43% of marketers are using AI to expand their audience and 77% see AI adoption growing this year.</p>

          <p>AI puts powerful tools into the hands of marketers, enabling you to discover customer segments, predict when customers are likely to buy,
            build sophisticated customer profiles and provide hyper personalised web experiences.</p>
          <p  style="margin-top: 30px;"><a href="/downloads/ai-in-marketing.pdf">
              <button type="button" class="btn btn-secondary btn-lg">Learn more about AI in marketing <i class="fa fa-file-pdf ml-2"></i></button>
          </a></p>

        </div>
      </div>
    </div>
  </div>
</section>

<section id="approach" class="section-services">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-lg-3 principles-block-container">
        <div class="principles-block">
          <div class="img">
            <img src="/images/marketing-hyper-personalisation.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="fas fa-users-cog"></i></div>
          </div>
          <h2>Hyper-Personalisation</h2>
          <p>
            Presents customers with targeted product recommendations they are more likely to buy.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 principles-block-container">
        <div class="principles-block">
          <div class="img">
            <img src="/images/marketing-sentiment-analysis.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="far fa-smile"></i></div>
          </div>
          <h2>Sentiment Analysis</h2>
          <p>
            Gives you insights into public opinion by looking at social media activity.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 principles-block-container">
        <div class="principles-block">
          <div class="img">
            <img src="/images/marketing-customer-segmentation.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="fas fa-chart-pie"></i></div>
          </div>
          <h2>Customer Segmentation</h2>
          <p>
            Finds groups of customers that share common attributes such as their age, job or purchasing habits.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 principles-block-container">
        <div class="principles-block">
          <div class="img">
            <img src="/images/marketing-repeat-buyer.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="fas fa-shopping-basket"></i></div>
          </div>
          <h2>Repeat-buyer Prediction</h2>
          <p>
            Helps you convert one-time customers into repeat customers by looking at what drives their purchase decisions.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
{{ end }}
