{{ define "main" }}
<section class="section section-service-splash">
  <div class="container">
    <div class="row" style="height: 600px">
      <div class="col-md-12 align-items-center ml-auto d-flex">
        <div class="col-md-5">
          <h1>{{ .Params.articletitle }}</h1>
          <p class="lead">We deliver end-to-end software solutions that put AI at the centre. </p>
          <p class="lead" style="padding-bottom: 50px"> Built on the Google Cloud Platform using modern technology, our solutions are reliable, scalable and agile.</p>
          <p><a href="#marketing"><button type="button" class="btn btn-secondary btn-lg">See how AI can apply to your industry <i class="fa fa-hand-point-down ml-2"></i></button></a></p>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-services" id="marketing">
  <div class="container">
    <h2 id="marketing">Marketing</h2>
    <p>Successful marketing depends on reaching people and cultivating relationships. Today's consumers interact
      with businesses across a wide range of Internet-connected devices, and every interaction generates data.</p>

    <p>AI helps us make sense of this data:</p>

    <ul>
      <li><strong>Customer segmentation</strong> finds groups of customers that share common attributes such as
        their age, job or purchasing habits.
      </li>

      <li><strong>Repeat-buyer prediction</strong> helps you convert one-time customers into repeat customers by
        looking at what drives their purchase decisions.
      </li>

      <li><strong>Hyper-personalisation</strong> presents customers with targeted product recommendations.</li>

      <li><strong>Sentiment analysis</strong> gives you insights into public opinion by looking at social media
        activity.
      </li>
    </ul>

    <p  style="margin-top: 70px;"><a href="/downloads/ai-in-marketing.pdf">
        <button type="button" class="btn btn-secondary btn-lg">Learn more about AI in marketing <i class="fa fa-file-pdf ml-2"></i></i></button>
</a></p>
</div>
</section>

<section class="section-services" id="businessprocessautomation">
  <div class="container">
    <h2 id="businessprocessautomation">Business Process Automation</h2>
    <div class="row justify-content-between">

      <div class="col-md-6">
        <p>In many businesses a lot of time is spent on processing documents and inputting or copying data. By
          putting
          AI in the right places we can automate the most laborious parts of these business processes.</p>

        <ul>
          <li><strong>Optical character recognition</strong> extracts the text from a paper document so that
            it can be
            stored and used for further processing.
          </li>

          <li><strong>Text analysis</strong> enables us to automatically understand the content of a document
            like a
            letter or an email and decide what to do with it.
          </li>

          <li><strong>Entity analysis</strong> looks for key information in a document such as a name, address
            or
            reference number.
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <div class="d-flex flex-column justify-content-center h-100">
          <div>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" width="392" height="221"
                      src="https://www.youtube.com/embed/Y1u72UluaPs" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </div>
            <p class="small text-center p-3 m-auto">A demo of the process in action</p>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="section-services" id="fintech">
  <div class="container">
    <h2 id="fintech">Financial Services</h2>
    <div class="row justify-content-between">
      <div class="col-md-7">
        <p>In order to remain competitive more financial service businesses are turning to AI. Not only can AI improve business efficiency, it can also make the customers' lives easier.</p>

        <ul>
          <li>
            <strong>Doing more with OCR</strong> by combining it with natural language processing creates a deeper understanding of a document's content.
          </li>
          <li>
            <strong>Natural language querying</strong>. With intelligent agents customers can ask questions in natural language such as <i>"has xyz paid their invoice"</i> or <i>"what are my outgoings this month?"</i>.
          </li>
          <li>
            <strong>Personalised advice</strong> and suggestions embedded into bank statements based on an individual's profile.
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <img src="/images/finance.jpeg" alt="finance" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section class="section-services" id="businessintelligence">
  <div class="container">
    <h2 id="businessintelligence">Business intelligence</h2>
    <div class="row justify-content-between">
      <div class="col-md-6">
        <p>AI enables a pro-active approach to business intelligence. AI-driven decision making relies on a combination
          of historical data, machine learning and real-time reporting.</p>

        <ul>
          <li><strong>Intelligent insights</strong> help you determine your key customers or highlight problems in
            your supply chain.
          </li>

          <li><strong>Business intelligence reporting</strong> using tools like Google Data Studio and Looker to build
            sophisticated real-time dashboards.
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <a href="https://datastudio.google.com/reporting/1lh9yfXMyGyX-8NXanx1-tV4q59SoTSVQ/page/IX0u" target="_blank">
          <img src="/images/bi-screenshot.png" alt="BI Dashboard Screenshot" class="img-fluid">
        </a>
        <p class="small text-center p-3 m-auto">Click the image for a live demo</p>
      </div>
    </div>
  </div>
</section>

<section class="section-services" id="iot">
  <div class="container">
    <h2 id="iot">Edge Computing and IoT</h2>
    <div class="row justify-content-between">

      <div class="col-md-6">

        <p>AI is everywhere. Your calendar reads your email so it can update when you book a flight or a hotel, your
          photos app understands what’s in your photos. We have fitness trackers that give us tailored advice and
          smart assistants in our homes. To make all this possible we need to bring AI to consumer devices.</p>

        <ul>
          <li><strong>Mobile and wearable technology</strong>: by using mobile-optimised machine learning models we
            can put AI directly into smart phone apps and wearables such as smart watches.
          </li>

          <li><strong>Smart sensors</strong> can be used to monitor and automate equipment in a factory or crops on a
            farm.
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="/images/iot.jpeg" alt="IoT Device" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section class="section-services" id="forgood">
  <div class="container">
    <h2 id="forgood">For Good</h2>
    <div class="row justify-content-between">

      <div class="col-md-7">

        <p>AI is a very powerful weapon, in the wrong hands it can do some very negative things. We think it's
          important to highlight the positive things that can be achieved with AI.</p>

        <p>Read more about our <a href="/forgood/">for good initiative</a> and consider getting involved.</p>

        <p>We used some open data sets to analyse school admissions. Click <a href="https://github.com/fuzzylabs/forgood-school-admissions" target="_blank" rel="noopener">here</a> to read about how we did it.</p>
      </div>
      <div class="col-md-5">
        <a href="/forgood/">
          <img src="/images/children-classroom.jpg" alt="Children in Classroom" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section-services" id="opensource">
  <div class="container">
    <h2 id="opensource">Open Source</h2>

    <p>We use open source software to build our solutions. Some of the technologies we use include Go, Python, Terraform, Docker, TensorFlow, and Jupyter.</p>

    <p>We like to contribute back to the open source community. Take a look at our <a href="http://github.com/fuzzylabs" target="_blank" rel="noopener">Github</a> to learn more.</p>
  </div>
</section>

{{ end }}
