{{ define "main" }}
<section class="section section-blog" style="background-image: url('../images/slide-1.jpg')">
  <div class="container">
    <div class="row" style="height: 200px">
      <div class="col-md-12 align-items-center ml-auto d-flex">
        <div>
          <h1 style="color: #48a7aa">Fuzzy Labs Blog</h1>
          <h2>{{ .Title }}</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section blog-content" style="padding-top: 20px; padding-bottom: 50px">
  <div class="container">
    {{ .Content }}
  </div>
</section>

{{ end }}
