body {
  padding-top: 54px;
  font-family: Asap;
  font-size: 15pt;
}

h1 {
    font-size: 24pt;
    font-weight: 900;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.logo-rectangle {
  height: 22px;
  padding: 0;
  margin: 0;
}

.navbar {
    background-color: #101d39;
    font-size: 10pt;
}

.nav-item {
  padding-right: 18px;
}

.nav-link {
  color: #fff;
}

.nav-link.selected {
  color: #48a7aa;
}

.nav-link:hover {
  color: #48a7aa;
}

.nav-menu-icon {
  color: #fff;
}

.section-blog {
  background-position: right;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

.section-why {
  background-position: right;
  background-repeat: no-repeat;
  background-color: #101d39;
  color: #fff;
  padding: 0;
  margin: 0;
  height: 500px;
}

.section-what {
  background-position: right;
  background-repeat: no-repeat;
  background-color: #fff;
  color: #000;
  padding: 0;
  padding-top: 100px;
  margin: 0;
  height: 330px;
}

.section-how {
  background-position: right;
  background-repeat: no-repeat;
  background-color: #f4f6fb;
  color: #000;
  padding: 0;
  margin: 0;
  height: 500px;
}

.section-contact {
  background-position: right;
  background-repeat: no-repeat;
  background-color: #fff;
  color: #000;
  padding: 0;
  padding-top: 25px;
  margin: 0;
  height: 450px;
  font-size: 10pt;
}

.home-textbox {
  font-size: 1.3125rem;
}

.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}


footer {
  background-color: #101d39;
  color: #fff;
  padding: 50px 0 0 0;
}

footer a {
  color: #f2f2f2;
}

footer a:hover {
  color: #78dbba;
  text-decoration: none;
}

#subfooter {
  background-color: #101d36;
  color: #fff;
  padding: 30px 0 0 0;
  margin: 20px 0 0 0;
}

ul.social-links {
  list-style: none;
}

ul.social-links li {
  display: inline;
  font-size: 20px;
  padding-right: 10px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

ul.general {
  list-style: none;
  margin-left: 0;
}

ul.link-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.link-list li {
  margin: 0;
  padding: 2px 0 2px 0;
  list-style: none;
}

.fa {
  padding: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  background: #707070;
  color: white;
}
.fa:hover {
  opacity: 0.7;
  color: white;
  text-decoration: none;
}

.services-block {
  padding: 60px 20px;
  margin-bottom: 40px;
}
.services-block .services-icon {
  margin-bottom: 10px;
  font-size: 60px
}

.principles-block {
  background: #fff;
  color: #145c81;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  #padding: 20px 20px;
  #margin: 20px;
}

.principles-block .img {
  position: relative;
}

.principles-block .img img {
  border-radius: 4px 4px 0 0;
}

.principles-block .icon {
  width: 64px;
  height: 64px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: #145c81;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: calc( 50% - 32px);
  bottom: -30px;
  transition: 0.3s;
}

.principles-block i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

.principles-block h2 {
  color: #48a7aa;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 40px 0 12px 0;
}

.principles-block p {
  font-size: 14px;
  line-height: 24px;
  color: #145c81;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}

.blog-content {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
}

.blog-content p {
  margin-top: 21px;
  font-size: 21px;
  letter-spacing: -0.03px;
  line-height: 1.58;
}

.blog-content h2 {
  padding-top: 30px;
}

.blog-content img {
  padding: 50px;
  max-width: 700px;
}

.blog-content blockquote {
  font-size: 30px;
  font-style: italic;
  letter-spacing: -0.36px;
  line-height: 44.4px;
  overflow-wrap: break-word;
  margin: 55px 0 33px 0;
  /* text-align: center; */
  color: rgba(0, 0, 0, 0.68);
  padding: 0 0 0 50px;
}

.blog-content code {
  font-size: 18px;
  background: rgba(0,0,0,.05);
  border-radius: 2px;
  padding: 3px 5px;
}

.blog-content .highlighted {
  background: #7DFFB3;
}

.blog-grid {
  margin: 12px;
  padding: 26px;
  height: 400px;
  color: #fff;
}

.blog-grid time {
  padding-right: 15px;
}

.blog-grid i {
  padding-right: 8px;
}

.blog-grid h1 {
  font-size: 28px;
  color: #fff;
}

.blog-grid a {
  color: #fff;
}

.blog-grid a:hover {
  text-decoration: none;
}

.text-bottom {
  position: absolute;
  bottom: 0;
}
