html {
  scroll-behavior: smooth;
}
body {
  padding-top: 54px;
  font-family: Asap;
  font-size: 17px;
}

ul { padding-left: 22px;}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 1em;
}

h1 {
  color: #48a7aa;
}

a {
  color: #48a7aa;
}

a:hover {
  color: #50c7bb;
  text-decoration: none;
}

.btn-primary {
  background-color: #101d39;
  border: none;
}

.btn-primary:hover {
  background-color: #48a7aa;
}

.btn-primary:active {
  background-color: #48a7aa;
}


.btn-secondary {
  color: #fff;
  background-color: #48a7aa;
  border: none;
}

.btn-secondary:hover {
  background-color: #319093;
}

.logo-rectangle {
  height: 22px;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #101d39;
}

.nav-item {
  padding-right: 18px;
}

.nav-link {
  color: #fff;
  font-weight: bold;
  position: relative;
}
.nav-link:before {
  content: '';
  display: block;
  height:3px;
  background:#48a7aa;
  left: 50%;
  bottom: 0;
  position: absolute;
  width: 0;
  /*opacity: 0;*/
  transition: 300ms;
}

.nav-link.selected:before {
  animation: navselect forwards 300ms 20ms;
}

@keyframes navselect {
  0% {
    left: 50%;
    width:0;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
    width: 100%;
  }

}

.nav-link.selected,
.nav-link[href*="#"]:active {
  color: #48a7aa;
}

.nav-link:hover,
.nav-link:focus {
  color: #48a7aa;
}

.dropdown-menu {
  background: #101d39;
}

.dropdown-menu .nav-link.selected:before {
  display: none;
}

.nav-menu-icon {
  color: #fff;
}

.section-blog {
  background-position: right;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

.section-page-header {
  min-height: 300px;
  background-color: #101d39;
  background-position: right;
  background-repeat: no-repeat;
  background-position: right 50%;
  background-size: 50%;
  color: #fff;
}

.section-about-us {
    background-image: url('/images/hacking.jpg');

}


.section-service-splash {
  min-height: 300px;
  background-color: #101d39;
  background-image: url('/images/hand.png');
  background-position: right;
  background-repeat: no-repeat;
  background-position: right 50%; background-size: 50%;
  color: #fff;
}

.section-marketing-splash {
  min-height: 300px;
  background-color: #101d39;
  background-image: url('/images/artificial-intelligence-brain.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-position: right 50%;
  background-size: 50%;
  color: #fff;
}

.section-why {
  background-image: url('/images/slide-1.jpg');
  background-position: right top;
  background-repeat: no-repeat;
  background-color: #101d39;
  color: #fff;
  padding: 0;
  margin: 0;
  height: 600px;
}

.section-what {
  background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%), url('/images/slide-2.jpg');
  background-color: #f4f6fb;
  background-color: #fff;
  background-position: right top;
  background-repeat: no-repeat;
  color: #000;
  padding: 0;
  padding-top: 100px;
  margin: 0;
  min-height: 550px;
}

.section-logos {
  margin-top: 40px;
  padding: 10px 0 60px;
  background: #f9fafd;
}

.section-padded {
  padding: 70px 0;
}

.section-padded:nth-of-type(even) {
  background: #f4f6fb;
}

.section-padded li:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .section-blog,
  .section-why,
  .section-what,
  .section-marketing-splash,
  .section-service-splash,
  .section-about-us {
    background-image: none!important;
  }
}

.section-how {
  background-position: right;
  background-repeat: no-repeat;
  background-color: #f4f6fb;
  color: #000;
  padding: 0;
  margin: 0;
  min-height: 550px;
}

.section-contact {
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%), url('/images/slide-4.jpg');
  background-position: right top;
  background-repeat: no-repeat;
  background-color: #fff;
  color: #000;
  padding: 0;
  padding-top: 25px;
  margin: 0;
  min-height: 450px;
}

.homepage-textbox {
  max-width: 440px;
}

.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

footer {
  background-color: #101d39;
  color: #fff;
  padding: 50px 0 0 0;
}

footer a {
  color: #f2f2f2;
}

footer a:hover {
  color: #78dbba;
  text-decoration: none;
}

#subfooter {
  background-color: #101d39;
  color: #fff;
  padding: 30px 0 0 0;
  margin: 20px 0 0 0;
}

ul.social-links {
  list-style: none;
}

ul.social-links li {
  display: inline;
  font-size: 20px;
  padding-right: 10px;
}

ul.link-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.link-list li {
  margin: 0;
  padding: 2px 0 2px 0;
  list-style: none;
}

.principles-block-container {
  margin-bottom: 30px;
}

.principles-block {
  background: #fff;
  color: #145c81;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  height: 100%;
}

.principles-block .img {
  position: relative;
}

.principles-block .img img {
  border-radius: 4px 4px 0 0;
}

.principles-block .icon {
  width: 64px;
  height: 64px;
  padding-top: 10px;
  position: absolute;
  background-color: #145c81;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #fff;
  left: 20px;
  bottom: -30px;
}

.principles-block i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

.principles-block h2 {
  color: #48a7aa;
  font-weight: 700;
  font-size: 20px;
  padding: 0 20px 0 20px;
  margin: 40px 0 12px 0;
}

.principles-block p {
  font-size: 16px;
  line-height: 24px;
  color: #145c81;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}

.blog-grid {
  margin: 3px;
  height: 370px;
  margin-bottom: 30px;
}

.blog-grid .image {
  height: 200px;
  width: 100%;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  margin-bottom: 20px;
}

.blog-grid i {
  padding-right: 5px;
  padding-left: 8px;
}

.blog-grid h1 {
  font-weight: 600;
  font-size: 22px;
  color: rgba(0,0,0,.84);
  margin-bottom: 12px;
}

.blog-grid p {
  font-size: 17px;
  color: rgba(0,0,0,.54);
}

.blog-grid small {
  font-size: 14px;
}

.blog-grid a {
  color: #000;
}

.text-bottom {
  position: absolute;
  bottom: 0;
}

.video {
  width: 800px;
  height: 600px;
}
@media screen and (max-width: 800px) {
  .video {
    width: 400px;
    height: 300px;
  }
}

.manchester-digital {
  width: 50%
}

@media (min-width: 768px) {
  .manchester-digital {
    width: 100%
  }
}

.about-image {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  align: left;
}


/* client logos */

.logo-container {
  width: 100%;
  max-width: 130px;
  height: 100%;
  position: relative;
  padding-top: 75%;
  margin:auto;
}

@media (min-width: 768px) {
  .logo-container {
    padding-top: 50%;
  }
}

@media (min-width: 992px) {
    .logo-container {
        padding-top: 30%;
    }
}



.logo-container img {
  max-width: 100%;
  max-height: 60%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  filter:saturate(0) ;
}


/* Case Studies */

.case-study-logo {
   background: #101d39;
   padding-bottom: 50%;
   position: relative;
   margin-bottom: 16px;
 }

@media (min-width: 768px) {
  .case-studies-header {
    background: url(/images/case-studies/meeting.jpg) 96% center no-repeat;
    background-size: 45%
  }
}



.case-study-logo__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
}

.case-study-content {
  line-height: 1.8;
}
.case-study-content h3 {
  margin-top: 1.5em;
}

.client-quote {
  display: block;
  border-width: 2px 0;
  font-size: 20px;
  border-style: solid;
  border-color: #eee;
  padding:  2em;
  margin: 3em 0;
  position: relative;
}
.client-quote:before,
.client-quote:after  {
  content: '\201C';
  position: absolute;
  top: -7px;
  left: 5%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}
.client-quote:after {
  content: '\201D';
  display: block;
 top: 100%;
  left: auto;

  right: -15px;
  margin-top:-14px
}
